* {
  margin: 0;
  padding: 0;
  color: #000;
  text-decoration: none;
  list-style: none;
}

html,
body {
  font-size: 62.5%;
}

#wrap {
  padding-top: 60px;
  background-color: #f9f9f9;
}

header {
  height: 70px;
}

.inner {
  margin: auto;
  width: 1480px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
}

nav ul {
  display: flex;
}

nav > ul > li {
  position: relative;
  padding: 0 15px;
}

nav > ul > li > a {
  display: block;
  padding: 20px 10px;
  font-size: 1.5rem;
  font-weight: bold;
}