@font-face {
    font-family: KBFGDisplay;
    src: url(../../assets/font/KBFGDisplayL.woff) format("woff");
    font-weight: 300;
}
@font-face {
    font-family: KBFGDisplay;
    src: url(../../assets/font/KBFGDisplayM.woff) format("woff");
    font-weight: 500;
}
@font-face {
    font-family: KBFGDisplay;
    src: url(../../assets/font/KBFGDisplayB.woff) format("woff");
    font-weight: 700;
}
@font-face {
    font-family: SpoqaHanSansNeo;
    src: url(../../assets/font/SpoqaHanSansNeo-Regular.woff) format("woff");
    font-weight: 300;
}
@font-face {
    font-family: SpoqaHanSansNeo;
    src: url(../../assets/font/SpoqaHanSansNeo-Medium.woff) format("woff");
    font-weight: 500;
}
@font-face {
    font-family: SpoqaHanSansNeo;
    src: url(../../assets/font/SpoqaHanSansNeo-Bold.woff) format("woff");
    font-weight: 700;
}


